.container.header {
  z-index: 999;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(15, 23, 42, .5);
  backdrop-filter: blur(15px);
}
.header {
  max-width: 100%;
  height: 80px;
  padding: 0 15px;
  font-family: sans-serif;
}
.header h1 {
  z-index: -1;
  color: rgba(255, 255, 255, 1);
  font-size: 23px;
  text-transform: capitalize;
}
.header button:hover {
  background: linear-gradient(90deg, rgba(13,169,228,1) 100%, rgba(11,206,212,1) 100%) !important;
}
.header button[type=submit] {
  display: none !important;
}

.container.nav {
  display: none;
}
.container.nav ul {
  display: flex;
  justify-content: center;
}
.nav li {
  margin: 0 10px;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
}
.nav li a {
  color: rgba(255, 255, 255, .5);
}
.nav li a:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, rgba(13,169,228,1) 0%, rgba(11,206,212,1) 100%);
}
